services:
  api:
    build:
      context: ./Backend
      dockerfile: Api/Dockerfile
      args:
        BUILD_CONFIGURATION: Release
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Development}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app
  db:
    image: docker.io/postgres
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-task-manager}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-SuperSecretPassword1!vD3%}
    volumes:
      - db-data:/var/lib/postgresql
    networks:
      - app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  db-data:
    driver: local
  
networks:
  app:
    driver: bridge
