services:

  db:
    image: postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql
    networks:
      - app

volumes:
  db-data:
    driver: local
  
networks:
  app:
    driver: bridge
